// Colors
// ====================================

@gray-text:              #444;
@gray-bg-light:          #f8f8f8;
@gray-bg-dark:           #ccc;
@gray-border-light:      #ddd;
@gray-border-dark:       #b2b2b2;

// Scaffolding
// ====================================

@body-bg:                @gray-bg-dark;
@text-color:             @gray-text;

@link-color:             #00a0df;
@link-hover-color:       darken(@link-color, 15%);

// Typography
// ====================================

@font-family-base:       "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size-base:         16px;
@line-height-base:       20px;

// Header
// ====================================

@header-height:          44px;
