.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1010;

  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
  background: #fff;
}

.header-title {
  font-weight: bold;
  text-align: center;
}
