@import (reference) "../core/core.less";

.itemlist {
  &:extend(.list-group);
}

.itemlist-item {
  &:extend(.list-group-item);

  margin-bottom: 10px;

  background: #fff;
  border: 1px solid @gray-border-dark;
}

.itemlist-item > a {
  &:extend(.list-group-item-link);

  padding: 5px;
}

.itemlist-item-link-active {
  background: #daedff;
}
